{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="pageHome">
        <section class="home-background">
            <h1>WELCOME TO THE <br> JUNGLE ARCH</h1>
        </section>
        <section class="home-meal">
            <img src="./assets/img/leaf-1.png" alt="leaf-1" class="leaf-1">
            <img src="./assets/img/leaf-2.png" alt="leaf-2" class="leaf-2">
            <img alt="meal" class="meal" src="./assets/img/meal.jpg">
            <div>
                <h2>NOS DELICIEUX PLATS</h2>
                <p>Venez déguster nos délicieux plats faits maison avec des produits frais et de qualité. Notre menu du jour saura vous satisfaire !</p>
                <a class="button" href="">LA CARTE</a>
            </div>
        </section>
        <section class="home-experience">
            <h2>L’EXPERIENCE JUNGLE ARCH</h2>
            <p>Que diriez-vous de vous évader à l’occasion de votre pause déjeuner ou de voyager le temps  d’une soirée ? Venez découvrir Jungle Arch, un restaurant élégant et atypique aux allures de jungle qui ne manquera pas de marquer vos esprits. Notre salle ainsi que nos terrasses peuvent accueillir les plus nombreux d’entre vous, tout comme le terrain de pétanque à disposition. Venez déguster nos plats faits maison réalisés avec des produits frais dans une ambiance décontractée et chic. Profitez de notre restaurant du lundi au vendredi de 7h30 à minuit à 10 minutes de la Défense au 16 Terrasse de l'Arche, 92000 Nanterre.</p>
        </section>
        <section class="home-masonry">
            <img src="./assets/img/leaf-3.png" alt="leaf-3" class="leaf-3">
            <img src="./assets/img/leaf-4.png" alt="leaf-4" class="leaf-4">
            <div class="masonry-item item-1">
                <img alt="meal" class="" src="./assets/img/masonry-item-1.jpeg">
            </div>
            <div class="masonry-item item-2">
                <img alt="meal" class="" src="./assets/img/masonry-item-2.jpeg">
            </div>
            <div class="masonry-item item-3">
                <img alt="meal" class="" src="./assets/img/masonry-item-3.jpeg">
            </div>
            <div class="masonry-item item-4">
                <img alt="meal" class="" src="./assets/img/masonry-item-4.jpeg">
            </div>
            <div class="masonry-item item-5">
                <img alt="meal" class="" src="./assets/img/masonry-item-5.jpeg">
            </div>
            <div class="masonry-item item-6">
                <img alt="meal" class="" src="./assets/img/masonry-item-6.jpeg">
            </div>
            <div class="masonry-item item-7">
                <img alt="meal" class="" src="./assets/img/masonry-item-7.jpeg">
            </div>
            <div class="masonry-item item-8">
                <img alt="meal" class="" src="./assets/img/masonry-item-8.jpeg">
            </div>
        </section>
        <section class="home-map">
            <div>
                <h2>JUNGLE ARCH</h2>
                <p>16 Terrasse de l'Arche <br>
                    92000 Nanterre</p>
                <p>01 47 25 45 97</p>
                <a href="" class="button">RESERVATION</a>
            </div>
            <iframe allowfullscreen="false"
                    aria-hidden="false" class="embed-responsive-item" frameborder="0" height="450"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.016967147478!2d2.223633415566291!3d48.896013806011055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e664f64077e4dd%3A0x820b46994b550007!2sJungle%20Arch!5e0!3m2!1sfr!2sfr!4v1663593627271!5m2!1sfr!2sfr"
                    style="border:0;" tabindex="0" width="600"></iframe>
            </iframe>
        </section>
    </div>
{% endblock %}
